APP_NAME={title}
APP_ENV=local
APP_KEY={app_key}
APP_DEBUG=true
APP_URL={app_url}

LOG_CHANNEL=stack

# 数据库配置
DB_CONNECTION=mysql
DB_HOST={db_host}
DB_PORT={db_port}
DB_DATABASE={db_database}
DB_USERNAME={db_username}
DB_PASSWORD={db_password}

# redis配置
REDIS_HOST={redis_host}
REDIS_PASSWORD={redis_password}
REDIS_PORT={redis_port}

BROADCAST_DRIVER=log
SESSION_DRIVER=file
SESSION_LIFETIME=120


# 缓存配置
# file为磁盘文件  redis为内存级别
# redis为内存需要安装好redis服务端并配置
CACHE_DRIVER=redis

# 异步消息队列
# sync为同步  redis为异步
# 使用redis异步需要安装好redis服务端并配置
QUEUE_CONNECTION=redis

# 后台语言
## zh_CN 简体中文
## zh_TW 繁体中文
## en    英文
DUJIAO_ADMIN_LANGUAGE=zh_CN

# 后台登录地址
ADMIN_ROUTE_PREFIX={admin_path}

# 是否开启https (前端开启了后端也必须为true)
# 后台登录出现0err或者其他登录异常问题，大概率是开启了https而后台没有开启，把下面的false改为true即可
ADMIN_HTTPS=false

# NewZoe 支付服务
NEWZOE_PAY_BASE_URL=https://pay.newzoe.cloud
NEWZOE_PAY_SECRET={newzoe_pay_secret}

# Binance Pay personal receive account
BINANCE_PAY_PROXY=http://172.19.0.1:17895
BINANCE_PAY_QR_URL=https://app.binance.com/uni-qr/Sg9jgWUd
BINANCE_PAY_BASE_URL=https://api.binance.com
BINANCE_PAY_CURRENCY=USDT
BINANCE_PAY_CNY_PER_USDT=7.20000000
BINANCE_PAY_CONNECT_TIMEOUT=8
BINANCE_PAY_TIMEOUT=20
BINANCE_PAY_RECV_WINDOW=5000
BINANCE_PAY_POLL_INTERVAL_SECONDS=60
BINANCE_PAY_MAX_REQUESTS_PER_POLL=40
BINANCE_PAY_QUOTE_TTL_MINUTES=15
BINANCE_PAY_MATCH_TIME_SKEW_SECONDS=5
BINANCE_PAY_SETTLEMENT_GRACE_SECONDS=300
BINANCE_PAY_AMOUNT_PRECISION=6
