/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
.env
.env.backup
services/newzoe-pay/public/wechat-pay.jpg
services/newzoe-pay/public/qrcodes/
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
install.lock
.env.buck
